In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Heading
After having gone through first dataset at (put link in future) this new dataset actually tells us the model. It also has robust features to make better ML models.

The above function splits data and gives stratifying options. From here we import the data and bring it in

In [3]:
df = pd.read_csv('Cleaned_Laptop_data.csv')
df.columns

Index(['brand', 'model', 'processor_brand', 'processor_name',
       'processor_gnrtn', 'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit',
       'graphic_card_gb', 'weight', 'display_size', 'warranty', 'Touchscreen',
       'msoffice', 'latest_price', 'old_price', 'discount', 'star_rating',
       'ratings', 'reviews'],
      dtype='object')

Adding lastest_price and old_price and dividng to get a working average
- working_average
# Now going into Column to column
We are assembling our questions for this dataset
I am starting at the bottom

In [4]:
df['reviews'].nunique()

152

The above finding is bizarre, I think this may be a mix of rating expressions

In [5]:
pd.DataFrame(df['reviews']).head(5)
#oops this NUMBER of reviews, not the reviews itself
#Can possibly clean up for clarity sake

   reviews
0     1947
1      108
2        4
3       18
4       15

# The reviews column
It is the number of reviews and maybe useful

In [6]:
pd.DataFrame(df['ratings']).head(5)
#number of ratings

   ratings
0    15279
1      990
2       28
3      158
4      116

In [7]:
pd.DataFrame(df['star_rating']).head(5)
#THIS is what I was looking for a universal metric to for reviewing

   star_rating
0          3.8
1          4.3
2          3.9
3          4.4
4          4.2

In [8]:
df.star_rating.min()
#at position lowest star_rating review so like floor or min

0.0

In [9]:
df[df['star_rating'] == 0] 
#in the new findings there are a sizeable amount of 0s in the dataset for ratings which is worth interrogating

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
42,Lenovo,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,1,No,No,52990,84890,37,0.0,0,0
43,acer,Aspire,Intel,Core i3,11th,8,DDR4,256,0,Windows,...,15.6,1,No,No,38990,52999,26,0.0,0,0
77,Lenovo,IdeaPad,Intel,Core i5,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,49990,79690,37,0.0,0,0
90,ASUS,VivoBook,Intel,Core i5,11th,8,DDR4,256,1024,Windows,...,15.6,1,No,No,52990,72990,27,0.0,0,0
99,ASUS,Zenbook,Intel,Core i7,11th,16,LPDDR4X,1024,0,Windows,...,14,1,Yes,Yes,104990,146990,28,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,Avita,Liber,Intel,Core i7,8th,8,DDR4,256,0,Windows,...,14,0,No,No,73990,79990,7,0.0,0,0
876,Avita,Liber,Intel,Core i7,8th,8,DDR4,256,0,Windows,...,14,0,No,No,73990,79990,7,0.0,0,0
877,Avita,Liber,Intel,Core i7,8th,8,DDR4,256,0,Windows,...,14,0,No,No,73990,79990,7,0.0,0,0
878,Avita,Liber,Intel,Core i7,8th,8,DDR4,256,0,Windows,...,14,0,No,No,73990,79990,7,0.0,0,0
880,Avita,Liber,Intel,Core i7,8th,8,DDR4,256,0,Windows,...,14,0,No,No,73990,79990,7,0.0,0,0

In [10]:
df.columns

Index(['brand', 'model', 'processor_brand', 'processor_name',
       'processor_gnrtn', 'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit',
       'graphic_card_gb', 'weight', 'display_size', 'warranty', 'Touchscreen',
       'msoffice', 'latest_price', 'old_price', 'discount', 'star_rating',
       'ratings', 'reviews'],
      dtype='object')

In [13]:
df['working_average'] = (df['latest_price'] + df['old_price']) / 2
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,1,No,No,23990,26990,11,3.8,15279,1947,25490.0
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,1,No,No,37990,50990,25,4.3,990,108,44490.0
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,1,No,No,32890,46990,30,3.9,28,4,39940.0
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,1,No,Yes,42990,57330,25,4.4,158,18,50160.0
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,0,No,No,54990,70171,21,4.2,116,15,62580.5

In [16]:
df['working_average'].max()

361594.0

In [17]:
np.ceil(df['working_average'].sort_values(ascending= False))

377    361594.0
469    338490.0
229    319945.0
322    311090.0
865    307944.0
         ...
803     19990.0
734     16995.0
887     16478.0
818     16459.0
776     10948.0
Name: working_average, Length: 896, dtype: float64

In [18]:
df.loc[469]

brand                  ASUS
model                   ROG
processor_brand       Intel
processor_name      Core i9
processor_gnrtn        12th
ram_gb                   32
ram_type               DDR5
ssd                    1024
hdd                       0
os                  Windows
os_bit                   64
graphic_card_gb           6
weight               Casual
display_size           15.6
warranty                  0
Touchscreen              No
msoffice                 No
latest_price         299990
old_price            376990
discount                 20
star_rating             0.0
ratings                   0
reviews                   0
working_average    338490.0
Name: 469, dtype: object

I think one of the leading variables of price will be branding. 
Since I am looking for most horsepower 
Graphics card for me cause I'm gamer
Companies would look for most CPU per dollar 
We can make multiple models changed per customer
One per customer base
We are starting with businesses