In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Cleaned_Laptop_data.csv')

In [3]:
df

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,23990,26990,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,37990,50990,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,32890,46990,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,42990,57330,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,54990,70171,21,4.2,116,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,DELL,Core,Intel,Core i3,10th,8,DDR4,256,1024,Windows,...,15.6,0,No,No,46390,59101,21,2.9,95,5
892,DELL,Core,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.96,0,No,No,40390,54992,26,3.2,83,15
893,HP,Pavilion,Intel,Core i5,8th,8,DDR4,128,0,Windows,...,13.3,1,No,No,76012,0,0,4.3,129,16
894,ASUS,Vivobook,Intel,Core i3,10th,4,DDR4,0,1024,Windows,...,14.1,0,No,No,33990,39990,15,3.4,31,6
895,Lenovo,v15,Intel,Core i3,10th,4,DDR4,0,1024,Missing,...,15.6,0,No,No,39999,43999,9,3.1,8,1

Current conversion rate from Indian Rupee to USD is 1.00000 INR = 0.01220

In [4]:
df.dtypes

brand               object
model               object
processor_brand     object
processor_name      object
processor_gnrtn     object
ram_gb              object
ram_type            object
ssd                  int64
hdd                  int64
os                  object
os_bit               int64
graphic_card_gb      int64
weight              object
display_size        object
warranty             int64
Touchscreen         object
msoffice            object
latest_price         int64
old_price            int64
discount             int64
star_rating        float64
ratings              int64
reviews              int64
dtype: object

In [5]:
df['latest_price'] = df['latest_price'] * 0.01220

In [6]:
df['old_price'] = df['old_price'] * 0.01220

In [7]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,292.678,329.2780,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,463.478,622.0780,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,401.258,573.2780,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,524.478,699.4260,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,670.878,856.0862,21,4.2,116,15

In [8]:
df.columns = df.columns.str.lower()

In [9]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,292.678,329.2780,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,463.478,622.0780,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,401.258,573.2780,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,524.478,699.4260,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,670.878,856.0862,21,4.2,116,15

In [10]:
df['touchscreen'].unique()

array(['No', 'Yes'], dtype=object)

In [11]:
df['msoffice'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
(df['latest_price'] + df['old_price']) / 2

0      310.9780
1      542.7780
2      487.2680
3      611.9520
4      763.4821
         ...
891    643.4951
892    581.8302
893    463.6732
894    451.2780
895    512.3878
Length: 896, dtype: float64

In [13]:
df['working_average'] = (df['latest_price'] + df['old_price']) / 2

In [14]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,1,No,No,292.678,329.2780,11,3.8,15279,1947,310.9780
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,1,No,No,463.478,622.0780,25,4.3,990,108,542.7780
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,1,No,No,401.258,573.2780,30,3.9,28,4,487.2680
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,1,No,Yes,524.478,699.4260,25,4.4,158,18,611.9520
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,0,No,No,670.878,856.0862,21,4.2,116,15,763.4821

In [15]:
df = df.replace('Yes', 1)
df = df.replace('No', 0)

In [16]:
df['brand'].unique()

array(['ASUS', 'HP', 'Lenovo', 'DELL', 'APPLE', 'acer', 'MSI', 'realme',
       'RedmiBook', 'Nokia', 'lenovo', 'Infinix', 'Mi', 'ALIENWARE',
       'SAMSUNG', 'MICROSOFT', 'LG', 'Vaio', 'Smartron', 'Avita', 'iball'],
      dtype=object)

In [17]:
df['brand'] = df['brand'].str.lower()

In [18]:
tst = df[df['os'] == 'Missing']
tst

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
21,acer,Aspire,Intel,i5,Missing,5,DDR5,0,0,Missing,...,0,0,0,622.0780,1097.9878,43,4.4,10966,1185,860.0329
52,acer,Aspire,AMD,NaN,Missing,NaN,NaN,0,0,Missing,...,0,0,0,670.8780,1085.8000,38,4.5,3190,414,878.3390
98,msi,Katana,Intel,i7,Missing,NaN,NaN,0,0,Missing,...,0,0,0,1061.2780,1439.4780,26,4.5,218,27,1250.3780
116,acer,Nitro,AMD,5,Missing,NaN,NaN,0,0,Missing,...,0,0,0,731.8780,1219.9878,40,4.5,1946,240,975.9329
119,msi,Pulse,Intel,i7,Missing,NaN,NaN,0,0,Missing,...,0,0,0,1341.8780,1707.8780,21,4.6,78,16,1524.8780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,lenovo,IdeaPad,Intel,Celeron Dual,Missing,4,LPDDR4,0,0,Missing,...,0,0,0,304.8780,425.6580,28,2.8,70,16,365.2680
882,acer,Chromebook,Intel,Celeron Dual,Missing,4,DDR4,0,0,Missing,...,0,0,0,292.6780,329.4000,11,3.3,61,4,311.0390
883,lenovo,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Missing,...,0,0,0,365.9878,456.2800,19,3.3,19,1,411.1339
887,hp,15q,Intel,Core i3,7th,4,DDR4,0,1024,Missing,...,0,0,0,402.0510,0.0000,0,4.2,311,27,201.0255
895,lenovo,v15,Intel,Core i3,10th,4,DDR4,0,1024,Missing,...,0,0,0,487.9878,536.7878,9,3.1,8,1,512.3878

In [19]:
tst['brand'].unique()

array(['acer', 'msi', 'lenovo', 'asus', 'hp', 'alienware', 'dell'],
      dtype=object)

In [20]:
# Replacing the 'missing' values in the os column with 'windows' as all of the computer brands that are listed sell computers with windows os'

df['os'] = df['os'].replace('Missing', 'Windows')

In [21]:
df['os'].unique()

array(['Windows', 'Mac'], dtype=object)

In [22]:
pd.DataFrame(df['working_average'].sort_values(ascending=False))

     working_average
377        4411.4468
469        4129.5780
229        3903.3290
322        3795.2980
865        3756.9168
..               ...
803         243.8780
734         207.3329
887         201.0255
818         200.7937
776         133.5656

[896 rows x 1 columns]

In [23]:
df['model'].nunique(), df['model'].unique()

(120,
 array(['Celeron', 'VivoBook', 'Vivobook', 'Core', 'IdeaPad', '15s',
        'Vostro', 'Ryzen', 'Pavilion', 'Ideapad', '2020', 'Aspire',
        'Inspiron', 'GF63', 'TUF', 'Book(Slim)', '15', 'GF65', 'Book',
        'Legion', 'Modern', 'Pro', 'ThinkPad', 'PureBook', 'Swift',
        'MacBook', 'Predator', 'ASUS', 'Katana', 'Zenbook', 'Pentium',
        'Nitro', 'Pulse', 'Alpha', 'ROG', 'Bravo', 'INBook', 'ZenBook',
        'Notebook', 'HP', 'Chromebook', 'Travelmate', '15-ec1105AX',
        'Yoga', 'Spectre', 'APU', '2021', 'Thinkbook', 'X1', 'Lenovo',
        'Thinkpad', 'Intel', 'G15', 'Envy', 'EeeBook', '3000', 'x360',
        '3511', 'GE76', 'Asus', 'ThinkBook', 'Delta', 'A6-9225', 'G5',
        'INSPIRON', '14s', 'G7', 'Stealth', 'Zephyrus', 'Creator',
        'Galaxy', 'Prestige', 'XPS', 'Summit', 'GS66', 'Sword', 'OMEN',
        'Surface', 'Gram', 'Extensa', 'ExpertBook', 'Omen', 'SE', 'GP76',
        'ConceptD', 'E', 't.book', 'GP65', 'Rog', 'DELL', 'Commercial',
        'X390', 'G3', 'B50-70', 'WF65', 'F17', 'Dual', 'Spin', 'Thinpad',
        'Inpiron', 'GAMING', 'AMD', 'PURA', 'GS', 'CompBook', 'IDEAPAD',
        '430', 'Vivo', 'V15', '250-G6', '14a', 'Liber', 'DA', 'Cosmos',
        'Athlon', '15q', 'Vivobook14', 'Insprion', '250', 'v15'],
       dtype=object))

In [24]:
df['processor_brand'].unique()

array(['Intel', 'AMD', 'Apple', 'MediaTek', 'NVIDIA', 'Qualcomm',
       'Pre-installed', 'First', '512', 'M.2', '64'], dtype=object)

In [25]:
df[df['processor_brand'] == 'First']

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
682,asus,ZenBook,First,Ever Screenpad,Missing,NVIDIA,GTX,0,0,Windows,...,0,0,0,2558.218,2561.878,0,5.0,4,0,2560.048
718,asus,ZenBook,First,Ever Screenpad,Missing,NVIDIA,GTX,0,0,Windows,...,0,0,0,2137.318,0.000,0,4.8,6,1,1068.659

In [26]:
df['processor_name'].unique()

array(['Celeron Dual', 'Core i3', 'Core i5', 'Ryzen 3', 'Ryzen 5',
       'M1 Processor', 'Pentium Silver', 'i5', 'Core i7', 'Hexa Core',
       nan, 'Ryzen 7', 'i7', 'Pentium Quad', '5', 'Ryzen 9', 'Core i9',
       'APU Dual', 'Quad', 'M1 Pro', 'M1 Max', 'Core',
       'MediaTek Kompanio', 'GeForce GTX', 'A6-9225 Processor',
       'GeForce RTX', 'Snapdragon 7c', 'Dual Core', 'Genuine Windows',
       'GEFORCE RTX', 'Ever Screenpad', 'GB SSD', 'Athlon Dual',
       'Slot for', 'GB eMMC', 'Core m3'], dtype=object)

In [27]:
df[df['processor_name'] == 'Ever Screenpad']

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
682,asus,ZenBook,First,Ever Screenpad,Missing,NVIDIA,GTX,0,0,Windows,...,0,0,0,2558.218,2561.878,0,5.0,4,0,2560.048
718,asus,ZenBook,First,Ever Screenpad,Missing,NVIDIA,GTX,0,0,Windows,...,0,0,0,2137.318,0.000,0,4.8,6,1,1068.659

In [28]:
df['processor_gnrtn'].unique()

array(['Missing', '10th', '11th', '9th', '8th', '7th', '12th', '4th'],
      dtype=object)

In [29]:
df[df['processor_gnrtn'] == 'Missing']

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
0,asus,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,1,0,0,292.6780,329.2780,11,3.8,15279,1947,310.9780
6,hp,15s,AMD,Ryzen 3,Missing,8,DDR4,256,1024,Windows,...,1,0,1,512.3878,589.1868,13,4.3,3524,432,550.7873
11,hp,Ryzen,AMD,Ryzen 3,Missing,8,DDR4,256,0,Windows,...,1,0,0,463.4780,561.8710,17,4.3,2214,241,512.6745
12,hp,Pavilion,AMD,Ryzen 5,Missing,8,DDR4,512,0,Windows,...,1,0,0,707.4780,856.0984,17,4.5,4740,532,781.7882
15,dell,Vostro,AMD,Ryzen 3,Missing,8,DDR4,0,1024,Windows,...,1,0,1,439.0780,617.9422,28,4.1,59,12,528.5101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,acer,Chromebook,Intel,Celeron Dual,Missing,4,DDR4,0,0,Windows,...,0,0,0,292.6780,329.4000,11,3.3,61,4,311.0390
883,lenovo,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,0,0,0,365.9878,456.2800,19,3.3,19,1,411.1339
884,lenovo,Ryzen,AMD,Ryzen 3,Missing,4,DDR4,0,1024,Windows,...,0,0,0,426.8780,450.4606,5,3.3,38,6,438.6693
888,dell,Inspiron,AMD,Ryzen 3,Missing,8,DDR4,0,1024,Windows,...,0,0,0,487.8780,629.2028,22,3.1,18,4,558.5404
890,apple,MacBook,Apple,M1 Processor,Missing,8,DDR4,512,0,Mac,...,1,0,0,1280.8780,1352.9800,5,4.7,6725,629,1316.9290

In [30]:
ls = (df.dtypes == 'object').tolist()

In [31]:
df.dtypes == 'object'

brand               True
model               True
processor_brand     True
processor_name      True
processor_gnrtn     True
ram_gb              True
ram_type            True
ssd                False
hdd                False
os                  True
os_bit             False
graphic_card_gb    False
weight              True
display_size        True
warranty           False
touchscreen        False
msoffice           False
latest_price       False
old_price          False
discount           False
star_rating        False
ratings            False
reviews            False
working_average    False
dtype: bool

In [32]:
# df[df['star_rating'] == 0]

In [33]:
# A lot of missing values; may or may not be helpful in its current state

# df[df['processor_gnrtn'] == 'missing']

In [34]:
df = df.rename(columns={'reviews':'num_reviews'})

In [35]:
def get_laptop_data():
    '''
    Basic function to full laptop data from the csv file.
    '''
    df = pd.read_csv('Cleaned_Laptop_data.csv')
    
    return df

In [36]:
def clean_data():
    '''
    This function will use the above function to get the laptop data, as well as clean the data in a way that makes it easier to work with and make sense.
    '''
    # Function to get the basic df from csv file
    df = get_laptop_data()
    # Converting the prices in the dataset from Indian Rupees to USD
    df['latest_price'] = df['latest_price'] * 0.01220
    df['old_price'] = df['old_price'] * 0.01220
    # Lowercasing the column names and specifically the brand column to simplify working with
    df.columns = df.columns.str.lower()
    df['brand'] = df['brand'].str.lower()
    # Creating an average of the 
    df['working_average'] = (df['latest_price'] + df['old_price']) / 2
    # Changing the yes's and no's to numerical values
    df = df.replace('Yes', 1)
    df = df.replace('No', 0)
    # Renaming reviews column to num_reviews
    df = df.rename(columns={'reviews':'num_reviews'})
    # Changing the missing values from the os column to windows
    df['os'] = df['os'].replace('Missing', 'Windows')
    # Renaming the processor generation column
    df = df.rename(columns={'processor_gnrtn':'processor_gen'})
    # Making a list of columns with the object data type
    lst = ['brand', 'model', 'processor_brand', 'processor_name', 'processor_gen', 'ram_gb', 'ram_type', 'os', 'weight', 'display_size']
    # Removing all null values (only 25) across the whole df
    df = df[~df['ram_gb'].isna()]
    # Small loop to lowercase the entries for each column in the above list
    for col in df[lst]:
    
        df[col] = df[col].str.lower()
        
    return df

In [37]:
df = df.rename(columns={'processor_gnrtn':'processor_gen'})

In [38]:
df['model'] = df['model'].str.lower()

In [39]:
df['model'].unique()

array(['celeron', 'vivobook', 'core', 'ideapad', '15s', 'vostro', 'ryzen',
       'pavilion', '2020', 'aspire', 'inspiron', 'gf63', 'tuf',
       'book(slim)', '15', 'gf65', 'book', 'legion', 'modern', 'pro',
       'thinkpad', 'purebook', 'swift', 'macbook', 'predator', 'asus',
       'katana', 'zenbook', 'pentium', 'nitro', 'pulse', 'alpha', 'rog',
       'bravo', 'inbook', 'notebook', 'hp', 'chromebook', 'travelmate',
       '15-ec1105ax', 'yoga', 'spectre', 'apu', '2021', 'thinkbook', 'x1',
       'lenovo', 'intel', 'g15', 'envy', 'eeebook', '3000', 'x360',
       '3511', 'ge76', 'delta', 'a6-9225', 'g5', '14s', 'g7', 'stealth',
       'zephyrus', 'creator', 'galaxy', 'prestige', 'xps', 'summit',
       'gs66', 'sword', 'omen', 'surface', 'gram', 'extensa',
       'expertbook', 'se', 'gp76', 'conceptd', 'e', 't.book', 'gp65',
       'dell', 'commercial', 'x390', 'g3', 'b50-70', 'wf65', 'f17',
       'dual', 'spin', 'thinpad', 'inpiron', 'gaming', 'amd', 'pura',
       'gs', 'compbook', '430', 'vivo', 'v15', '250-g6', '14a', 'liber',
       'da', 'cosmos', 'athlon', '15q', 'vivobook14', 'insprion', '250'],
      dtype=object)

In [40]:
df['ram_type'].isna().sum()

25

In [41]:
lst = ['brand', 'model', 'processor_brand', 'processor_name', 'processor_gen', 'ram_gb', 'ram_type', 'os', 'weight', 'display_size']

for col in df[lst]:
    
    df[col] = df[col].str.lower()
    
df.head()

,brand,model,processor_brand,processor_name,processor_gen,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,num_reviews,working_average
0,asus,celeron,intel,celeron dual,missing,4,ddr4,0,1024,windows,...,1,0,0,292.678,329.2780,11,3.8,15279,1947,310.9780
1,asus,vivobook,intel,core i3,10th,8,ddr4,512,0,windows,...,1,0,0,463.478,622.0780,25,4.3,990,108,542.7780
2,asus,vivobook,intel,core i3,10th,8,ddr4,0,1024,windows,...,1,0,0,401.258,573.2780,30,3.9,28,4,487.2680
3,hp,core,intel,core i3,11th,8,ddr4,512,0,windows,...,1,0,1,524.478,699.4260,25,4.4,158,18,611.9520
4,hp,core,intel,core i5,11th,8,ddr4,512,0,windows,...,0,0,0,670.878,856.0862,21,4.2,116,15,763.4821

In [42]:
df = df[~df['ram_gb'].isna()]

In [43]:
df[df['ram_gb'].isna()]

Empty DataFrame
Columns: [brand, model, processor_brand, processor_name, processor_gen, ram_gb, ram_type, ssd, hdd, os, os_bit, graphic_card_gb, weight, display_size, warranty, touchscreen, msoffice, latest_price, old_price, discount, star_rating, ratings, num_reviews, working_average]
Index: []

[0 rows x 24 columns]

---

In [46]:
df1 = df[df['old_price'] == 0.0000]

In [49]:
df1['old_price'] = df1['latest_price'] + df1['old_price']

In [66]:
df['old_price'] = df['old_price'].drop(df[df['old_price'] < 1].index)

In [71]:
df = df[~df['old_price'].isna()]

In [75]:
df = pd.concat([df, df1])

In [82]:
df.reset_index(drop=True,inplace=True)

In [85]:
#df = df.drop(columns={'level_0', 'index'})

**Goals**: 

- ML Model that will cluster the laptops based off of:

    - price
    - mrp
    - processing power
    - screen size
    - rating / num ratings

- Clusters valuable enough to use in a classification model
    
**Questions to ask**:

- Is price related to ratings? Number of ratings?
- How are price and screen size related?
- Is price related to processor?

**Measures of Success**:

- Finding top features
- A viable model that achieves our goals
- How will we use this? 

**How to Achieve**:

- Clean data
- Explore data:
    - find anomalies
    - statistical tests
    - visualizations
- Determine most important features
    
**Deliverable**: 

- Reproducable githut repository for other users to rank laptops based upon various features.

In [ ]:
sns.displot(df, x="working_average")

In [ ]:
top8 = df['brand'].value_counts().head(8)

In [ ]:
sns.displot(df, x=top8)