In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Cleaned_Laptop_data.csv')

In [3]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,23990,26990,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,37990,50990,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,32890,46990,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,42990,57330,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,54990,70171,21,4.2,116,15

Current conversion rate from Indian Rupee to USD is 1.00000 INR = 0.01220

In [4]:
df.dtypes

brand               object
model               object
processor_brand     object
processor_name      object
processor_gnrtn     object
ram_gb              object
ram_type            object
ssd                  int64
hdd                  int64
os                  object
os_bit               int64
graphic_card_gb      int64
weight              object
display_size        object
warranty             int64
Touchscreen         object
msoffice            object
latest_price         int64
old_price            int64
discount             int64
star_rating        float64
ratings              int64
reviews              int64
dtype: object

In [5]:
df['latest_price'] = df['latest_price'] * 0.01220

In [6]:
df['old_price'] = df['old_price'] * 0.01220

In [7]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,292.678,329.2780,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,463.478,622.0780,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,401.258,573.2780,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,524.478,699.4260,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,670.878,856.0862,21,4.2,116,15

In [8]:
df.columns = df.columns.str.lower()

In [9]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,292.678,329.2780,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,463.478,622.0780,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,401.258,573.2780,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,524.478,699.4260,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,670.878,856.0862,21,4.2,116,15

In [10]:
df['touchscreen'].unique()

array(['No', 'Yes'], dtype=object)

In [11]:
df['msoffice'].unique()

array(['No', 'Yes'], dtype=object)

In [56]:
(df['latest_price'] + df['old_price']) / 2

0      310.9780
1      542.7780
2      487.2680
3      611.9520
4      763.4821
         ...
891    643.4951
892    581.8302
893    463.6732
894    451.2780
895    512.3878
Length: 896, dtype: float64

In [13]:
df['working_average'] = (df['latest_price'] + df['old_price']) / 2

In [14]:
df.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,1,No,No,292.678,329.2780,11,3.8,15279,1947,310.9780
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,1,No,No,463.478,622.0780,25,4.3,990,108,542.7780
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,1,No,No,401.258,573.2780,30,3.9,28,4,487.2680
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,1,No,Yes,524.478,699.4260,25,4.4,158,18,611.9520
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,0,No,No,670.878,856.0862,21,4.2,116,15,763.4821

In [15]:
df = df.replace('Yes', 1)
df = df.replace('No', 0)

In [55]:
df['brand'].unique()

array(['asus', 'hp', 'lenovo', 'dell', 'apple', 'acer', 'msi', 'realme',
       'redmibook', 'nokia', 'infinix', 'mi', 'alienware', 'samsung',
       'microsoft', 'lg', 'vaio', 'smartron', 'avita', 'iball'],
      dtype=object)

In [54]:
df['brand'] = df['brand'].str.lower()

In [19]:
tst = df[df['os'] == 'Missing']
tst

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews,working_average
21,acer,Aspire,Intel,i5,Missing,5,DDR5,0,0,Missing,...,0,0,0,622.0780,1097.9878,43,4.4,10966,1185,860.0329
52,acer,Aspire,AMD,NaN,Missing,NaN,NaN,0,0,Missing,...,0,0,0,670.8780,1085.8000,38,4.5,3190,414,878.3390
98,MSI,Katana,Intel,i7,Missing,NaN,NaN,0,0,Missing,...,0,0,0,1061.2780,1439.4780,26,4.5,218,27,1250.3780
116,acer,Nitro,AMD,5,Missing,NaN,NaN,0,0,Missing,...,0,0,0,731.8780,1219.9878,40,4.5,1946,240,975.9329
119,MSI,Pulse,Intel,i7,Missing,NaN,NaN,0,0,Missing,...,0,0,0,1341.8780,1707.8780,21,4.6,78,16,1524.8780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,Lenovo,IdeaPad,Intel,Celeron Dual,Missing,4,LPDDR4,0,0,Missing,...,0,0,0,304.8780,425.6580,28,2.8,70,16,365.2680
882,acer,Chromebook,Intel,Celeron Dual,Missing,4,DDR4,0,0,Missing,...,0,0,0,292.6780,329.4000,11,3.3,61,4,311.0390
883,Lenovo,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Missing,...,0,0,0,365.9878,456.2800,19,3.3,19,1,411.1339
887,HP,15q,Intel,Core i3,7th,4,DDR4,0,1024,Missing,...,0,0,0,402.0510,0.0000,0,4.2,311,27,201.0255
895,Lenovo,v15,Intel,Core i3,10th,4,DDR4,0,1024,Missing,...,0,0,0,487.9878,536.7878,9,3.1,8,1,512.3878

In [22]:
tst['brand'].unique()

array(['acer', 'MSI', 'lenovo', 'ASUS', 'Lenovo', 'HP', 'ALIENWARE',
       'DELL'], dtype=object)

In [23]:
# Replacing the 'missing' values in the os column with 'windows' as all of the computer brands that are listed sell computers with windows os'

df['os'] = df['os'].replace('Missing', 'Windows')

In [24]:
df['os'].unique()

array(['Windows', 'Mac'], dtype=object)

In [51]:
pd.DataFrame(df['working_average'].sort_values(ascending=False))

     working_average
377        4411.4468
469        4129.5780
229        3903.3290
322        3795.2980
865        3756.9168
..               ...
803         243.8780
734         207.3329
887         201.0255
818         200.7937
776         133.5656

[896 rows x 1 columns]

In [47]:
df['model'].nunique(), df['model'].unique()

(120,
 array(['Celeron', 'VivoBook', 'Vivobook', 'Core', 'IdeaPad', '15s',
        'Vostro', 'Ryzen', 'Pavilion', 'Ideapad', '2020', 'Aspire',
        'Inspiron', 'GF63', 'TUF', 'Book(Slim)', '15', 'GF65', 'Book',
        'Legion', 'Modern', 'Pro', 'ThinkPad', 'PureBook', 'Swift',
        'MacBook', 'Predator', 'ASUS', 'Katana', 'Zenbook', 'Pentium',
        'Nitro', 'Pulse', 'Alpha', 'ROG', 'Bravo', 'INBook', 'ZenBook',
        'Notebook', 'HP', 'Chromebook', 'Travelmate', '15-ec1105AX',
        'Yoga', 'Spectre', 'APU', '2021', 'Thinkbook', 'X1', 'Lenovo',
        'Thinkpad', 'Intel', 'G15', 'Envy', 'EeeBook', '3000', 'x360',
        '3511', 'GE76', 'Asus', 'ThinkBook', 'Delta', 'A6-9225', 'G5',
        'INSPIRON', '14s', 'G7', 'Stealth', 'Zephyrus', 'Creator',
        'Galaxy', 'Prestige', 'XPS', 'Summit', 'GS66', 'Sword', 'OMEN',
        'Surface', 'Gram', 'Extensa', 'ExpertBook', 'Omen', 'SE', 'GP76',
        'ConceptD', 'E', 't.book', 'GP65', 'Rog', 'DELL', 'Commercial',
        'X390', 'G3', 'B50-70', 'WF65', 'F17', 'Dual', 'Spin', 'Thinpad',
        'Inpiron', 'GAMING', 'AMD', 'PURA', 'GS', 'CompBook', 'IDEAPAD',
        '430', 'Vivo', 'V15', '250-G6', '14a', 'Liber', 'DA', 'Cosmos',
        'Athlon', '15q', 'Vivobook14', 'Insprion', '250', 'v15'],
       dtype=object))

In [52]:
df['processor_brand'].unique()

array(['Intel', 'AMD', 'Apple', 'MediaTek', 'NVIDIA', 'Qualcomm',
       'Pre-installed', 'First', '512', 'M.2', '64'], dtype=object)

In [25]:
# df[df['star_rating'] == 0]

In [26]:
# A lot of missing values; may or may not be helpful in its current state

# df[df['processor_gnrtn'] == 'missing']

In [37]:
df = df.rename(columns={'reviews':'num_reviews'})

In [28]:
def get_laptop_data():
    '''
    Basic function to full laptop data from the csv file.
    '''
    df = pd.read_csv('Cleaned_Laptop_data.csv')
    
    return df

In [29]:
def clean_data():
    '''
    This function will use the above function to get the laptop data, as well as clean the data in a way that makes it easier to work with and make sense.
    '''
    # Function to get the basic df from csv file
    df = get_laptop_data()
    # Converting the prices in the dataset from Indian Rupees to USD
    df['latest_price'] = df['latest_price'] * 0.01220
    df['old_price'] = df['old_price'] * 0.01220
    # Lowercasing the column names and specifically the brand column to simplify working with
    df.columns = df.columns.str.lower()
    df['brand'] = df['brand'].str.lower()
    # Creating an average of the 
    df['working_average'] = (df['latest_price'] + df['old_price']) / 2
    # Changing the yes's and no's to numerical values
    df = df.replace('Yes', 1)
    df = df.replace('No', 0)
    # Renaming reviews column to num_reviews
    df = df.rename(columns={'reviews':'num_reviews'})
    # Changing the missing values from the os column to windows
    df['os'] = df['os'].replace('Missing', 'Windows')
    
    return df

In [30]:
df

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,warranty,touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,num_reviews,working_average
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,1,0,0,292.6780,329.2780,11,3.8,15279,1947,310.9780
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,1,0,0,463.4780,622.0780,25,4.3,990,108,542.7780
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,1,0,0,401.2580,573.2780,30,3.9,28,4,487.2680
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,1,0,1,524.4780,699.4260,25,4.4,158,18,611.9520
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,0,0,0,670.8780,856.0862,21,4.2,116,15,763.4821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,DELL,Core,Intel,Core i3,10th,8,DDR4,256,1024,Windows,...,0,0,0,565.9580,721.0322,21,2.9,95,5,643.4951
892,DELL,Core,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,0,0,0,492.7580,670.9024,26,3.2,83,15,581.8302
893,HP,Pavilion,Intel,Core i5,8th,8,DDR4,128,0,Windows,...,1,0,0,927.3464,0.0000,0,4.3,129,16,463.6732
894,ASUS,Vivobook,Intel,Core i3,10th,4,DDR4,0,1024,Windows,...,0,0,0,414.6780,487.8780,15,3.4,31,6,451.2780
895,Lenovo,v15,Intel,Core i3,10th,4,DDR4,0,1024,Windows,...,0,0,0,487.9878,536.7878,9,3.1,8,1,512.3878

**Goals**: 

- ML Model that will cluster the laptops based off of:

    - price
    - mrp
    - processing power
    - screen size
    - rating / num ratings

- Clusters valuable enough to use in a classification model
    
**Questions to ask**:

- Is price related to ratings? Number of ratings?
- How are price and screen size related?
- Is price related to processor?

**Measures of Success**:

- Finding top features
- A viable model that achieves our goals
- How will we use this? 

**How to Achieve**:

- Clean data
- Explore data:
    - find anomalies
    - statistical tests
    - visualizations
- Determine most important features
    
**Deliverable**: 

- Reproducable githut repository for other users to rank laptops based upon various features.